<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649588830033-eh5h1fm4ai7l3sbdsc9hrp6dv9g4n31t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649588830033-eh5h1fm4ai7l3sbdsc9hrp6dv9g4n31t</string>
	<key>API_KEY</key>
	<string>AIzaSyC3nV6Z0TVAvl_mj1FG5PrMX9gTLvrlGig</string>
	<key>GCM_SENDER_ID</key>
	<string>649588830033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newassn</string>
	<key>PROJECT_ID</key>
	<string>wassup-app-cr7</string>
	<key>STORAGE_BUCKET</key>
	<string>wassup-app-cr7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649588830033:ios:32c51291f5f8d8492c6d70</string>
</dict>
</plist>